---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign sorted = site.publications | sort: "year" | reverse %}
{% for post in sorted %}
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    </h2>
    <p>Published in <i>{{ post.venue }}</i>, {{ post.year }}.</p>
    <p>{{ post.authors }}</p>
    {% if post.citation %}
      <p style="font-size: smaller;">Recommended citation: {{ post.citation }}</p>
    {% endif %}
  </article>
</div>
{% endfor %}
